/* #btn, #btnMinus, #btnSave{
    width: 20%;
    color: white;
    background-color: blue;
    border: none;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin: 10px;
    font-size: 20px;
    font-family: cursive;
    margin-right: auto;
    margin-left: auto;
    outline: none;
}
#btn{
    color: black;
    background-color: lightblue;
}
#btnMinus{
    background-color: lightblue;
    color: black;
}
#btnSave{   
    background-color: green;
}
#h2{
    background-color: rgba(0, 128, 0, 0.778);
    width: 10%;
    display: flex;
    place-content: center;
    place-self: center;
    border-radius: 200px;
    color: white;
}
h1, h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}
#saveEl{
    font-weight: bold;
    display: flex;
    justify-content: center;
} */
 /* *{
    margin: 0;
 }
 body{
    display: block;
    place-self: center;
    margin-top: 100px;
 }
 .spans{
    display: flex;
    gap: 10px;
    place-self: center;
 }
span{
    border-bottom: 1px solid black;
    font-weight: bolder;
    font-size: x-large;
}
button{
    padding: 14px;
    margin: 10px;
}

.Score-Board{
    background-color: rgb(182, 55, 191);
    padding: 20px;
    padding-left: 50px;
    border-radius: 10px;
}
.container{
    display: flex;
    height: 50vh;
    gap: 40px;
}
h1{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    margin-top: 10px;
}
#scores, #scoresguest{
    border-radius: 12px;
    background-color: black;
    color: rgb(203, 68, 210);
    padding: 2px;
    text-align: center;
    font-family: serif;
    font-weight: bolder;
    font-size: 100px;
    margin-bottom: 10px;      
}
button{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 10px;
}
#reset{
    display: flex;
    place-content: center;
    place-self: center;
    width: 50%;
    background-color: black;
    color: white;
    border: none;
} */